.Contact{
    background: #000080;
    height: 100px;
    display: block;
    text-align: center;
    padding: 4% 0 4% 0;
    width: 100%;
}
.Contact ul li{
    display: inline-block;
    float: none;
    margin: 0 0.5em !important;
}
.Contact ul li:hover{
    color: #ff0000;
}
